<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="CapstoneSauceDemoSuite">
	<test name="LoginTests">
		<classes>
			<class name="com.assignment.ui.qa.test.TestApplication"/>
		</classes>
	</test>

</suite>


<!--		<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">-->
<!--<suite name="ParallelSuite" parallel="tests" thread-count="2">-->

<!--<test name="Device1">-->
<!--	<parameter name="deviceName" value="emulator-5554"/>-->
<!--	<parameter name="systemPort" value="8201"/>-->
<!--	<parameter name="chromePort" value="9515"/>-->
<!--	<classes>-->
<!--		<class name="com.assignment.ui.qa.test.TestApplication"/>-->
<!--	</classes>-->
<!--</test>-->

<!--<test name="Device2">-->
<!--	<parameter name="deviceName" value="emulator-5556"/>-->
<!--	<parameter name="systemPort" value="8202"/>-->
<!--	<parameter name="chromePort" value="9516"/>-->
<!--	<classes>-->
<!--		<class name="com.assignment.ui.qa.test.TestApplication"/>-->
<!--	</classes>-->
<!--</test>-->

<!--</suite>-->
